<% include ./partials/header %>
    
    <div class="container">
        <h2>Forgot Password</h2>
        <form action="/forgot" method="POST">
            <h3>Email</h3>
            <input type="email" name="email" required placeholder="email">
            <button>Submit</button>
        </form>
    </div>
    
    
<% include ./partials/footer %>