<% include ./partials/header %>

<h2>Login</h2>
<form action="/login" method="POST">
<input type="text" name="username" required placeholder="username">
<input type="text" name="password" required placeholder="username">
<button>Submit</button>
</form>
<% include ./partials/footer %>