<% include ./partials/header %>
<h1>Sign up!</h1>

<form action="/register" method="POST">
    <input type="text" name="username" required placeholder="username">
    <input type="text" name="password" required placeholder="username">
    <button>Submit</button>
</form>
<% include ./partials/footer %>